<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>添加分类</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/resource/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/resource/css/mylay.css">
</head>
<body>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form layui-form-pane" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(中文)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name" autocomplete="off" placeholder="请输入分类(中文)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(中文)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info" autocomplete="off" placeholder="请输入说明(中文)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(繁体)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_ft" autocomplete="off" placeholder="请输入分类(繁体)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(繁体)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_ft" autocomplete="off" placeholder="请输入说明(繁体)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(英文)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_en" autocomplete="off" placeholder="请输入分类(英文)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(英文)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_en" autocomplete="off" placeholder="请输入说明(英文)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(日语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_ry" autocomplete="off" placeholder="请输入分类(日语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(日语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_ry" autocomplete="off" placeholder="请输入说明(日语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(西班牙)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_xby" autocomplete="off" placeholder="请输入分类(西班牙)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(西班牙)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_xby" autocomplete="off" placeholder="请输入说明(西班牙)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(印尼)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_ydn" autocomplete="off" placeholder="请输入分类(印尼)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(印尼)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_ydn" autocomplete="off" placeholder="请输入说明(印尼)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(越南)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_yn" autocomplete="off" placeholder="请输入分类(越南)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(越南)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_yn" autocomplete="off" placeholder="请输入说明(越南)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(泰语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_ty" autocomplete="off" placeholder="请输入分类(泰语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(泰语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_ty" autocomplete="off" placeholder="请输入说明(泰语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(印度语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_yd" autocomplete="off" placeholder="请输入分类(印度语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(印度语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_yd" autocomplete="off" placeholder="请输入说明(印度语)" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(马来语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_ma" autocomplete="off" placeholder="请输入分类(马来语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(马来语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_ma" autocomplete="off" placeholder="请输入说明(马来语)" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">分类(葡萄牙语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_name_pt" autocomplete="off" placeholder="请输入分类(葡萄牙语)" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item layui-form-text">
                                <label class="layui-form-label">说明(葡萄牙语)</label>
                                <div class="layui-input-block">
                                    <input type="text" name="group_info_pt" autocomplete="off" placeholder="请输入说明(葡萄牙语)" class="layui-input">
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">排序</label>
                                <div class="layui-input-block">
                                    <input type="text" name="num" autocomplete="off" placeholder="请输入分类排序" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-inline">
                                     <select name="state" lay-verify="required" lay-search="">
                                        <option value="1">开启</option>
                                        <option value="2">关闭</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-form-item">
                                <label class="layui-form-label">首页图标</label>
                                <div class="layui-upload-drag pj-type-icon">
                                    <i class="layui-icon layui-icon-upload"></i>
                                    <p>点击上传，或将文件拖拽到此处</p>
                                    <div class="layui-hide">
                                        <hr>
                                        <img src="" alt="上传成功后渲染" style="max-width: 150px">
                                        <p></p>
                                    </div>
                                </div>
                                <input type="hidden" name="h_icon" value="" class="layui-input">
                            </div>
                            
                            <div class="layui-form-item" style="margin-top: 40px;text-align: center;">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="TaskClassAdd">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/resource/layuiadmin/layui/layui.js"></script>
<script src="/resource/js/manage/init_date.js"></script>
<script src="/resource/js/manage/bet.js"></script>

<script type="text/javascript" src="/resource/plugs/ueditor/ueditor.config.js"></script>
<script type="text/javascript" src="/resource/plugs/ueditor/ueditor.all.min.js"></script>
<!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
<!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
<script type="text/javascript" src="/resource/plugs/ueditor/lang/zh-cn/zh-cn.js"></script>
</body>
</html>