<include file="header" nav="标详情"/>
<div class="mobile">
    <div class="othertop">
        <a class="goback" href="javascript:history.back();"><img src="__PUBLIC__/mobile/img/goback.png" /></a>
        <div class="othertop-font">投资详情</div>
    </div>
    <div class="header-nbsp"></div>
    <!-- 详情 -->
    <div class="details_top">
       <img src="__PUBLIC__/uploads/item/{$data.img}">
        <h1>{$data.title}</h1>
        <ul>
            <li>
                <div class="inner">
                    <p>
                        <span class="span2">项目规模</span>
                        <span class="span1">￥<i>{:round($data['total'],2)}</i>万元</span>
                    </p>
                    <p>
                        <span class="span2">每份分红</span>
                        <span class="span1"><i>{:round($data['min']*$data['rate']/100,2)}</i>元起</span>
                    </p>
                    <p>
                        <span class="span2">投资周期</span>
                        <span class="span1"><i>{$data.day}</i>天</span>
                    </p>
                </div>
            </li>
            <li>分红方式：{:getProjectType($data['type'])}</li>
            <li>起投金额：{:round($data['min'],2)}元</li>
            <li>担保机构：{$data.guarantee}</li>
            <li>投资零风险：本金保障
                <div class="progressBox1">
                    <div class="progress1" style="width:{:getProjectPercent($data['id'])}%"></div>
                    <span class="progressNum1">{:round(getProjectPercent($data['id']),2)}%</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="details_foot">
        <div class="tabs">
            <span class="on">投资详情</span>
            <span>项目资料</span>
        </div>
        <div class="explain_outer">
            <table class="table">
                <tr>
                    <td><span>项目名称</span></td>
                    <td>{$data.title}</td>
                </tr>
                <tr>
                    <td>项目金额：</td>
                    <td><i>{:round($data['total'],2)}万</i>元人民币；</td>
                </tr>
                <tr>
                    <td>每天分红：</td>
                    <td><i>按每日{:round($data['rate'],2)}%的收益（保本保息）</i></td>
                </tr>
                <tr>
                    <td>投资金额：</td>
                    <td><i>最低起投{$data.min}元</i>（限买{$data.num}份）</td>
                </tr>
                <tr>
                    <td>项目期限：</td>
                    <td><i>{$data.day}个</i>自然日；</td>
                </tr>
                <tr>
                    <td>收益计算：</td>
                    <td><i><if condition="$data['type'] neq 4">每天分红{:round($data['min']*$data['rate']/100,2)}元<else/>本金复利分红</if></i>*<i>{$data.day}天</i>=总收益<i><if condition="$data['type'] neq 4">{:round($data['min']*$data['rate']/100*$data['day'],2)}<else/>{:getFuliIncome($data['min'],$data['rate'],$data['day'])}</if></i>元；</td>
                </tr>
                <tr>
                    <td>还款方式：</td>
                    <td>{:getProjectType($data['type'])} 节假日照常收益；</td>
                </tr>
                <tr>
                    <td>结算时间：</td>
                    <td>当天15点投资，第二天15点系统自动计息结算收益（例如在15:00成功投资，则在下个自然日15:00收到分红），到期系统将当日分红和产品本金一起返还到您的会员账号中；</td>
                </tr>
                <tr>
                    <td>可投金额：</td>
                    <td>投资期间只要产品未投满，投资者均可自由投资；</td>
                </tr>
                <!--<tr>
                    <td>资金用途：</td>
                    <td>新手版票体验项目</td>
                </tr>-->
                <tr>
                    <td>安全保障：</td>
                    <td>{$data.guarantee}对平台上的每一笔投资提供<i>100%本金保障</i>，平台设立风险备用金，对本金承诺全额垫付；</td>
                </tr>
                <tr>
                    <td>项目概述：</td>
                    <td>本项目筹集资金<i>{:round($data[total],2)}万</i>元人民币，投资本项目（<if condition="$data['type'] neq 4">按每日分红<i>{:round($data['min']*$data['rate']/100,2)}元/天</i><else/><i>本金复利分红/天</i></if>）项目周期为<i>{$data.day}</i>个自然日，所筹集资金用于该项目直投运作，作为投资者分红固定且无任何风险，所操作一切风险都由公司与担保公司一律承担，投资者不需要承担任何风险。</td>
                </tr>
				  <td>推荐奖励：</td>
                    <td>在会员中心最下面(邀请好友)转发到您朋友圈里,只要您朋友通过邀请二维码注册的为一级,充值并成功投资一次性还款项目,您就可以得到按投资金额{:getReward('invest1')}%的奖励,注册成功后，系统自动赠送 ！</td>
                </tr>
            </table>
            <div class="data">
                {$data.content}
            </div>
        </div>
    </div>
    <div class="header-nbsp"></div>
    <div class="invest_btn">
        <if condition="getProjectPercent($data['id']) eq 100">
            <a href="javascript:;" style="background-color: #888;">项目已满</a>
            <else/>
            <a href="{:U('form','id='.$data['id'])}">马上投资</a>
        </if>
    </div>
</div>
<script>
    $().ready(function(){
        var value = $(".progressNum1").text();
        var result = toPoint(value) - toPoint("{:getProjectPercent($data['id'])}%");
        $(".progressNum1").css("left",toPercent(result));
        $(".tabs span:eq(0)").click(function(){
            $(this).addClass("on");
            $(".tabs span:eq(1)").removeClass("on");
            $(".explain_outer .table").show();
            $(".explain_outer .data").hide();
        });
        $(".tabs span:eq(1)").click(function(){
            $(this).addClass("on");
            $(".tabs span:eq(0)").removeClass("on");
            $(".explain_outer .table").hide();
            $(".explain_outer .data").show();
        });
    });
</script>
</body>
</html>