<include file="header" nav="标列表"/>
<link rel="stylesheet" href="__PUBLIC__/mobile/css/div3.css?k={:rand(1,99999)}"/>
<div class="mobile">
    <div class="header">项目投资</div>
    <div class="header-nbsp"></div>

    <!-- 投资项目 -->

    <volist name="item" id="i">
        <div class="pro_box">
            <a class="tier" href="{:U('details','id='.$i['id'])}">
               <div class="img-box">
                    <img src="__PUBLIC__/uploads/item/{$i.img}" class="img">
                </div>
                <div class="info-box">
                    <div class="ib-head">
                        <span class="index">保</span>{$i.title}
                    </div>
                   <!-- <div class="ib-doc">
                        {$i.desc}
                    </div>-->
                    <div class="ib-body">
                        <div class="cl-3">
                            <p><span class="red">{:round($i['rate'],2)}</span>%</p>
                            <p>日化利率</p>
                        </div>
                        <div class="cl-3">
                            <p><span class="red">{$i.day}</span>天</p>
                            <p>投资期限</p>
                        </div>
                        <div class="cl-3">
                            <p>￥<span class="red">{:round($i['min'],2)}</span>元</p>
                            <p>起投金额</p>
                        </div>
                    </div>
                    <div class="ib-foot">
                        <div class="text">
                            <p>项目规模：{:round($i['total'],2)}万元</p>
                            <p>{:getProjectType($i['type'])}</p>
                        </div>
                        <div class="other">
                            <if condition="getProjectPercent($i['id']) eq 100">
                                <button class="now-btn" style="background-color: #888;">项目已满</button>
                                <else/>
                                <button class="now-btn">立即投资</button>
                            </if>
                        </div>
                    </div>
                    <div class="plan">
                        <span>项目进度：</span>
                        <div class="plan-wrap">
                            <if condition="getProjectPercent($i['id']) eq 100">
                                <div class="plan-con" style="width:{:round(getProjectPercent($i['id']),2)}%;background-color: #888;"></div>
                                <else/>
                                <div class="plan-con" style="width:{:round(getProjectPercent($i['id']),2)}%;"></div>
                            </if>
                        </div>
                        <span class="plan-text">{:round(getProjectPercent($i['id']),2)}%</span>
                    </div>
                    <if condition="getProjectPercent($i['id']) eq 100">
                        <img class="over" src="__PUBLIC__/mobile/img/over.png" style="display: block;position: absolute;right: 0;margin-top: -2rem;"/>
                    </if>
                </div>
            </a>
        </div>
    </volist>


    <include file="footer" menu="list"/>
</div>
</body>
</html>