.w856 .head[data-v-261f8458] {
    width: 100%
}

.flex[data-v-261f8458] {
    align-items: center
}

.head[data-v-261f8458] {
    padding: .22rem 0;
    position: relative
}

.head.on[data-v-261f8458] {
    background-size: 100% 100%
}

.head .n_home[data-v-261f8458] {
    font-size: .32rem;
    line-height: .44rem;
    font-weight: 500;
    color: #fff
}

.head .name[data-v-261f8458] {
    font-size: .32rem;
    font-weight: 500;
    color: #fff;
    position: absolute;
    width: 70%;
    text-align: center;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 50%;
    height: 100%;
    margin-left: -35%;
    display: flex;
    z-index: 0
}

.head .notice[data-v-261f8458] {
    position: relative
}

.head .notice img[data-v-261f8458] {
    height: .4rem
}

.head .notice span[data-v-261f8458] {
    position: absolute;
    background: #ee594b;
    border-radius: 50%;
    box-shadow: 0 .04rem .08rem 0 rgba(245, 56, 49, .31);
    color: #fff;
    font-size: .2rem;
    padding: 0 .08rem;
    top: -.1rem;
    right: -.1rem
}

.head .back img[data-v-261f8458] {
    width: .25862rem
}

.head img[data-v-261f8458] {
    height: .4rem;
    vertical-align: middle
}

.head .lang[data-v-261f8458] {
    margin-left: .2rem
}

.head .str[data-v-261f8458] {
    margin-left: .26rem;
    font-size: .28rem;
    font-weight: 500;
    color: #fff;
    line-height: .4rem
}

.head .str[data-v-261f8458] img {
    height: .4rem;
    vertical-align: top
}

.logo img[data-v-261f8458] {
    height: .41rem
}