{extend name="admin@index_layout"/}
{block name="main"}
<form class="layui-form" method="post">
    
    <div class="layui-form-item">
        <label class="layui-form-label">中签数量</label>
        <div class="layui-input-block">
            <input type="text" name="zhongqian_num" lay-verify="required" autocomplete="off" placeholder="中签数量" class="layui-input" value="{$data.zhongqian_num}">
        </div>
    </div>
    <input type="hidden" name="id" value="{$data.id}">
    <div class="layui-form-item layer-footer">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit>立即提交</button>
            <!--<button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
        </div>
    </div>
</form>
{/block}
{block name="script"}
<script type="text/javascript">
layui.use('yznForm', function() {
    var yznForm = layui.yznForm;
    yznForm.listen();
});
</script>
{/block}