.popup-box[data-v-58a1bd20] {
    width: 6.4rem;
    padding: .4rem;
    position: relative;
    border-radius: .24rem;
    line-height: 1.2;
    background: #131621
}

.popup-box .title-box[data-v-58a1bd20] {
    height: .48rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative
}

.popup-box .title-box .title[data-v-58a1bd20] {
    width: 82%;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: .32rem;
    font-style: normal;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center
}

.popup-box .title-box .title img[data-v-58a1bd20] {
    width: .4rem;
    height: .4rem;
    margin-right: .12rem
}

.popup-box .title-box .cross[data-v-58a1bd20] {
    margin-left: auto;
    font-size: .4rem;
    color: #fff;
    cursor: pointer
}

.popup-box .content[data-v-58a1bd20] {
    border-radius: .4rem;
    padding: .4rem 0 0
}

.popup-box .content .text[data-v-58a1bd20] {
    color: #b7b7b7;
    font-size: .32rem
}

.popup-box .content .bot[data-v-58a1bd20] {
    margin-top: .4rem;
    display: flex;
    justify-content: space-between;
    gap: .32rem
}

.popup-box .content .bot .btn[data-v-58a1bd20] {
    min-height: .88rem;
    color: #fff;
    text-align: center;
    font-family: Sora;
    font-size: .28rem;
    font-style: normal;
    font-weight: 400;
    line-height: .36rem;
    display: flex;
    padding: .12rem .16rem;
    justify-content: center;
    align-items: center;
    gap: .2rem;
    flex: 1 0 0;
    border-radius: .48rem;
    border: .02rem solid #314cbb;
    background: #1b202d
}

.popup-box .content .bot .btn.active[data-v-58a1bd20] {
    background: linear-gradient(90deg, #7b02fe, #0570fd);
    color: #fff;
    border-color: transparent
}