<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑等级</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/resource/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/resource/css/mylay.css">
</head>
<body>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <div class="layui-form-item">
                                <label class="layui-form-label">中文名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="name" value="{$data.name}" autocomplete="off" placeholder="请输入中文等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">繁体名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ft_name" value="{$data.ft_name}" autocomplete="off" placeholder="请输入中文等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">英文名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="en_name"  value="{$data.en_name}" autocomplete="off" placeholder="请输入英文等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">日文名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ry_name"  value="{$data.ry_name}" autocomplete="off" placeholder="请输入日文等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">西班牙名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="xby_name"  value="{$data.xby_name}" autocomplete="off" placeholder="请输入西班牙等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">印尼名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ydn_name"  value="{$data.ydn_name}" autocomplete="off" placeholder="请输入印尼等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">越南名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="yn_name"  value="{$data.yn_name}" autocomplete="off" placeholder="请输入越南等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">泰语名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ty_name"  value="{$data.ty_name}" autocomplete="off" placeholder="请输入泰语等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">印度语名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="yd_name"  value="{$data.yd_name}" autocomplete="off" placeholder="请输入印度语等级名称" class="layui-input">
                                </div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">马来语名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="ma_name"  value="{$data.ma_name}" autocomplete="off" placeholder="请输入马来语等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">葡萄牙语名称</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="pt_name"  value="{$data.pt_name}" autocomplete="off" placeholder="请输入葡萄牙语等级名称" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">等级</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="grade" value="{$data.grade}" autocomplete="off" placeholder="请输入等级" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">购买金额</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="amount" value="{$data.amount}" autocomplete="off" placeholder="请输入购买金额" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">如：300，单位：元</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">任务次数</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="number" value="{$data.number}" autocomplete="off" placeholder="请输入等级名称" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">次/天</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">抽成</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="pump" value="{$data.pump}" autocomplete="off" placeholder="请输入抽成" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">如：0.1，单位：百分比</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">升级返点</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="spread" value="{$data.spread}" autocomplete="off" placeholder="请输入升级返点" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">如：直推,间推,间间推 20,10,5  【10 = 10%】</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">提现最低取款</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="extract" value="{$data.extract}" autocomplete="off" placeholder="请输入最低取款" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">如：提现单词限制100</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">取款星期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="week" value="{$data.week}" autocomplete="off" placeholder="请输入取款星期" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">如：星期二,星期三 2,3</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">佣金</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="commission" value="{$data.commission}" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">元/单</div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">有效期</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="validity_time" value="{$data.validity_time}" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux">天</div>
                            </div>
                             <div class="layui-form-item">
                                <label class="layui-form-label">有效开关</label>
                                <div class="layui-input-inline">
                                    <select name="states" lay-search="">
                                        
                                        <option {if condition="$data['states'] eq '1' "}selected{/if} value="1">开</option>
                                        <option {if condition="$data['states'] eq '2' "}selected{/if} value="2">关</option>
                                       
                                    </select>
                                </div>
                                <div class="layui-form-mid layui-word-aux"></div>
                            </div>
                            <div class="layui-form-item" style="margin-top: 40px;text-align: center;">
                                <input type="hidden" name="id" value="{$data.id}" autocomplete="off" class="layui-input">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="user-level-edit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/resource/layuiadmin/layui/layui.js"></script>
<script src="/resource/js/manage/init_date.js"></script>
<script src="/resource/js/manage/user.js"></script>
</body>
</html>