<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>编辑用户</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/resource/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/resource/css/mylay.css">
</head>
<body>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form" action="">
                            <table class="layui-table" lay-even lay-skin="nob">
                                <thead></thead>
                                <tbody>
                                   
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">上级ID</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="" value="{data.sid}" autocomplete="off" placeholder="" class="layui-input" readonly>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">该ID为上级ID</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">返点级别</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="rebate" value="{data.rebate}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">当前返点级别</div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">安全时间</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="" value="" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">登陆时间小于该时间不能登录</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">积分等级</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="grade" value="{data.grade}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">积分等级</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">性别</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="sex" value="{data.sex}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">性别</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">生日</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="birthday" value="{data.birthday}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">生日</div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">登录密码</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="password" value="" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">登录操作时验证的密码，不修改留空</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">取款密码</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="fund_password" value="" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">取款等操作时验证的密码，不修改留空</div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">QQ</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="qq" value="{data.qq}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">QQ</div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">抖音号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="douyin" value="{data.douyin}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">备注说明</label>
                                                <div class="layui-input-inline">
                                                    <textarea name="" value="" placeholder="请输入内容" class="layui-textarea"></textarea>
                                                </div>
                                                <div class="layui-form-mid layui-word-aux">备注说明</div>
                                            </div>
                                        </td>
                                        
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">信用</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="credit" value="{data.credit}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">所属银行</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="alipay_names" value="{data.alipay_names}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">真实姓名</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="alipay_name" value="{data.alipay_name}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">银行卡号</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="alipay" value="{data.alipay}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="layui-form-item">
                                                <label class="layui-form-label">实名认证</label>
                                                <div class="layui-input-inline">
                                                    <input type="text" name="realname" value="{data.realname}" autocomplete="off" placeholder="" class="layui-input">
                                                </div>
                                                <div class="layui-form-mid layui-word-aux"></div>
                                            </div>
                                        </td>
                                      
                                    </tr>
                                    
                                </tbody>
                            </table>
                            <div class="layui-form-item" style="margin-top: 40px;text-align: center;">
                                <input type="hidden" name="id" value="{data.id}" autocomplete="off" class="layui-input">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="useredit">立即提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

<script src="/resource/layuiadmin/layui/layui.js"></script>
<script src="/resource/js/manage/init_date.js"></script>
<script src="/resource/js/agent/user.js"></script>
</body>
</html>