<form id="edit-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">

    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Parent_id')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-parent_id" data-rule="required" data-source="parent/index" class="form-control selectpage" name="row[parent_id]" type="text" value="{$row.parent_id|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Real_name')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-real_name" class="form-control" name="row[real_name]" type="text" value="{$row.real_name|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Paypassword')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-paypassword" class="form-control" name="row[paypassword]" type="text" value="{$row.paypassword|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Money')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-money" data-rule="required" class="form-control" step="0.01" name="row[money]" type="number" value="{$row.money|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dongjie')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dongjie" data-rule="required" class="form-control" step="0.01" name="row[dongjie]" type="number" value="{$row.dongjie|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Hongbao')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-hongbao" data-rule="required" class="form-control" step="0.01" name="row[hongbao]" type="number" value="{$row.hongbao|htmlentities}">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Login_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="loginDataList" item="vo"}
            <label for="row[login_data]-{$key}"><input id="row[login_data]-{$key}" name="row[login_data]" type="radio" value="{$key}" {in name="key" value="$row.login_data"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Trans_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="transDataList" item="vo"}
            <label for="row[trans_data]-{$key}"><input id="row[trans_data]-{$key}" name="row[trans_data]" type="radio" value="{$key}" {in name="key" value="$row.trans_data"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Liangrong_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="liangrongDataList" item="vo"}
            <label for="row[liangrong_data]-{$key}"><input id="row[liangrong_data]-{$key}" name="row[liangrong_data]" type="radio" value="{$key}" {in name="key" value="$row.liangrong_data"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Peizi_data')}:</label>
        <div class="col-xs-12 col-sm-8">
            
            <div class="radio">
            {foreach name="peiziDataList" item="vo"}
            <label for="row[peizi_data]-{$key}"><input id="row[peizi_data]-{$key}" name="row[peizi_data]" type="radio" value="{$key}" {in name="key" value="$row.peizi_data"}checked{/in} /> {$vo}</label> 
            {/foreach}
            </div>

        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-xs-12 col-sm-2">{:__('Dongjie_content')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-dongjie_content" class="form-control" name="row[dongjie_content]" type="text" value="{$row.dongjie_content|htmlentities}">
        </div>
    </div>
    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-primary btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
