<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>提现记录</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/resource/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/resource/css/mylay.css">
</head>
<body>
    <div style="padding: 20px; background-color: #F2F2F2;">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card" style="padding: 10px;">
                    <form class="layui-form search">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">更新</label>
                                <div class="layui-input-inline">
                                    <select class="recharge-withdraw-reload" lay-filter="recharge-withdraw-reload" data-reloadType="present_record">
                                        <option value="0">暂停</option>
                                        <option value="15">15秒</option>
                                        <option value="30">30秒</option>
                                        <option value="60">60秒</option>
                                    </select>
                                </div>
                            </div>

                              <div class="layui-inline">
                                <label class="layui-form-label">账号类型</label>
                                <div class="layui-input-inline">
                                    <select name="user_type" class="recharge-withdraw-reload" lay-filter="recharge-withdraw-reload" data-reloadType="recharge_record">
                                          <option value="0">全部</option>
                                        <option value="1">代理</option>
                                        <option value="2">会员</option>
                                        <option value="3">测试</option>

                                    </select>
                                </div>
                            </div>

                            <div class="layui-inline">
                                <label class="layui-form-label">搜索类型</label>
                                <div class="layui-input-inline">
                                    <select name="search_t" lay-search="">
                                        <option value="username">取款账号</option>
                                        <option value="order_number">订单号</option>
                                        <option value="card_name">取款姓名</option>
                                        <option value="card_number">取款卡号</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">内容</label>
                                <div class="layui-input-inline">
                                    <input class="layui-input" name="search_c" autocomplete="off">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">状态</label>
                                <div class="layui-input-inline">
                                    <select name="state" lay-search="">
                                        {foreach $Think.config.custom.withdrawalsState as $key=>$value }
                                        <option value="{$key}">{$value}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">代理线</label>
                                <div class="layui-input-inline">
                                    <select name="daili" lay-search="">
                                        <option value="0">全部</option>
                                        {foreach $daili as $k=>$v}
                                        <option value="{$v['id']}">{$v['username']}</option>
                                        {/foreach}
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">时间</label>
                                <div class="layui-input-inline">
                                    <input type="text" name="datetime_range" class="layui-input" readonly>
                                </div>
                            </div>
                            <div class="layui-block" style="text-align: center;">
                                <button type="button" class="layui-btn" data-type="search">搜索</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card" style="padding: 20px;">
                    出款方式：
                    {foreach $withTypeList as $k=>$v}
                    <label style="padding: 0 20px;">
                        <input type="radio" checked name="payout_type" value="{$v['code']}"> {$v['code']}
                    </label>
                    {/foreach}
                    <!--<label style="padding: 0 20px;">
                        <input type="radio" name="payout_type" value="Brotherpay" checked> Brotherpay
                    </label>-->
                    <!--<label style="padding: 0 20px;">
                        <input type="radio" name="payout_type" value="Tikpay" checked> Tikpay
                    </label>
                    <label style="padding: 0 20px;">
                        <input type="radio" name="payout_type" value="Guaranapay"> Guaranapay
                    </label>
                    <label style="padding: 0 20px;">
                        <input type="radio" name="payout_type" value="Qeapay"> Qeapay
                    </label>
                    <label style="padding: 0 20px;">
                        <input type="radio" name="payout_type" value="Speedlyppay"> Speedlyppay
                    </label>-->
                    <button id="paymentListBtn"  class="layui-btn">批量出款</button>
                    
                    <button id="piliangshenhe"  class="layui-btn" style="display:none">批量审核</button>
                    <button id="piliangchuli"  class="layui-btn" style="display:none">批量处理</button>
                </div>
            </div>
            <div class="layui-col-md12">
                <div class="layui-card">
                    <table class="layui-hide" id="present_record" lay-filter="present_record"></table>
                </div>
            </div>
        </div>
        <div id="paymentList"></div>
    </div>

    <!-- 表单元素 -->
    <script type="text/html" id="action">
        <div class="layui-btn-group">
            {{# if (d.examine == '3') { }}
            <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="controlAudit">审核</button>
            {{# } else if (d.examine == '1' && d.state == 3) { }}
                {{# if (d.is_pay==0) { }}
                <button type="button" class="layui-btn layui-btn-xs layui-btn-primary" lay-event="playmoney">出款</button>
                <button type="button" class="layui-btn layui-btn-xs" lay-event="financialAudit">处理</button>
                {{# } else { }}
                    已提交
                {{# } }}
            {{# } else { }}
            <button type="button" class="layui-btn layui-btn-xs layui-btn-warm" lay-event="withdrawalsDetails">详情</button>
            {{# } }}
        </div>
    </script>
    <!-- 音频 -->
    <audio id="myaudio" src="/resource/media/present_record.mp3" hidden="true">

<script src="/resource/layuiadmin/layui/layui.js"></script>
<script src="/resource/js/manage/init_date.js"></script>
<script src="/resource/js/manage/bank.js?time="+Date.parse( new Date())></script>
<script>
    layui.use(['table'], function(){
        var $ = layui.$
        ,table = layui.table;

        //方法级渲染
        table.render({
            elem: '#present_record'
            ,title: '提现记录'
            ,url: '/manage/bank/present_record'
            ,method: 'post'
            ,cols: [[
                {checkbox: true, fixed: true, totalRowText: '合计'}
                ,{field: 'order_number', title: '订单号', sort: true}
                ,{field: 'aname', title: '财务', sort: true}
                ,{field: 'vip_level', title: '会员等级', sort: true, templet: function(d){
                        return d.vip_level == 1 ? 'V0' : ('V'+(d.vip_level-1));
                    }}
                ,{field: 'username', title: '账号', sort: true}
                ,{field: 'danger', title: '风险账户', sort: true, templet: function(d){
                    return d.danger == 1 ? '<b style="color: red;">是</b>' : '否';
                }}
                ,{field: 'card_number', title: '取款账号', sort: true}
                ,{field: 'dailixian', title: '代理线', sort: true}
                //,{field: 'card_name', title: '户名', sort: true}
                ,{field: 'bank_name', title: '取款银行', sort: true}
                //,{field: 'card_mobile', title: '手机', sort: true}
                //,{field: 'card_email', title: '邮箱', sort: true}
                ,{field: 'price', title: '取款金额', sort: true, totalRow: true}
                ,{field: 'fee', title: '服务费', sort: true, totalRow: true}
                ,{field: 'state', title: '状态', sort: true, templet: function(d){
                    return d.statusStr;
                }}
                ,{field: 'time', title: '提交时间', sort: true}
                 ,{field: 'is_pay', title: '出款状态',width: 100, templet: function(d){
                    if(d.is_pay==1)return  '<b style="color: green;">已提交三方</b>';
                    if(d.is_pay==2)return  '<b style="color: red;">出款失败</b>';
                        return  '未出款';
                    }}
                ,{field: 'pay_type', title: '出款三方', sort: true,width: 150}
                ,{field: 'bank_source', title: '用户出款发方式', sort: true,width: 150}
                ,{title: '操作', width: '20%', toolbar: '#action'}
            ]]
            ,cellMinWidth: 100
            ,toolbar: '#toolbarDemo'
            ,defaultToolbar: ['filter', 'print', 'exports']
            ,totalRow: true
            ,page: {
                layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
            }
            ,skin: 'row' //行边框风格
            ,even: true //开启隔行背景
        });
        $('#paymentListBtn').on('click', function (){
            var bbb = document.querySelector('input[name="payout_type"]:checked').value;
            layer.confirm('确定批量出款？当前出款方式：'+bbb, {
                btn: ['确定', '取消'] //按钮
            }, function () {
                layer.closeAll();
                batchPayment();
            }, function () {
                layer.msg('取消操作', {
                    time: 2000, //2s后自动关闭
                });
            });
        });
        $('#piliangshenhe').on('click', function (){
            //var bbb = document.querySelector('input[name="payout_type"]:checked').value;
            layer.confirm('是否确定批量审核？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('this');
                //alert('d');
                layer.closeAll();
                shenhe();
            }, function () {
                layer.msg('取消操作', {
                    time: 2000, //2s后自动关闭
                });
            });
        });
        $('#piliangchuli').on('click', function (){
            //var bbb = document.querySelector('input[name="payout_type"]:checked').value;
            layer.confirm('是否确定批量处理？', {
                btn: ['确定', '取消'] //按钮
            }, function () {
                //layer.msg('this');
                //alert('d');
                layer.closeAll();
                //shenhe();
                chuli();
            }, function () {
                layer.msg('取消操作', {
                    time: 2000, //2s后自动关闭
                });
            });
        });
        function batchPayment() {
            var sData = layui.table.checkStatus('present_record').data;
            if (sData.length < 1) {
                layer.alert('请选中要付款的项目')
                return;
            }
            var d;
            var ids = [];
            for(var s=0;s<sData.length;s++){
                d = sData[s];
                if(d.examine == 1 && d.state == 3 && d.is_pay==0){
                    ids.push([d.id,d.order_number]);
                }
            }
            if(ids.length<1){
                layer.alert('选中的项目没有要出款的')
                return;
            }
            var next_id = 0;
            gogogogo();
            function gogogogo() {
                if (next_id >= ids.length) return;
                batchPaymentTo(ids[next_id][0], ids[next_id][1], gogogogo);
                next_id++;
            }
        }
        function shenhe() {
            var sData = layui.table.checkStatus('present_record').data;
            if (sData.length < 1) {
                layer.alert('请勾选要审核的项目')
                return;
            }
            var d;
            var ids = [];
            
            for(var s=0;s<sData.length;s++){
                d = sData[s];//d.examine == 1 &&
                if(d.state == 3 && d.is_pay==0){
                    ids.push([d.id,d.order_number]);
                }
            }
            if(ids.length<1){
                layer.alert('没有选中待审核的项目')
                return;
            }
            var next_id = 0;
            gogogogo();
            function gogogogo() {
                if (next_id >= ids.length) return;
                batchshenheTo(ids[next_id][0], ids[next_id][1], gogogogo);
                next_id++;
            }
            
            setTimeout(function() {
                layui.table.reload('present_record');
            }, 2000);
        }
        function chuli() {
            var sData = layui.table.checkStatus('present_record').data;
            if (sData.length < 1) {
                layer.alert('请勾选要审核的项目')
                return;
            }
            var d;
            var ids = [];
            
            for(var s=0;s<sData.length;s++){
                d = sData[s];//d.examine == 1 &&
                if(d.state == 3 && d.is_pay==0){
                    ids.push([d.id,d.order_number]);
                }
            }
            if(ids.length<1){
                layer.alert('没有选中待审核的项目')
                return;
            }
            var next_id = 0;
            gogogogo();
            function gogogogo() {
                if (next_id >= ids.length) return;
                batchchuliTo(ids[next_id][0], ids[next_id][1], gogogogo);
                next_id++;
            }
            
            setTimeout(function() {
                layui.table.reload('present_record');
            }, 2000);
        }
        function batchchuliTo(id,order_number,cb){
            $.ajax({
                url: "/manage/bank/txchuli",
                data: {
                    id: id,
                    order_number:order_number,
                    state: 1,
                    //type: document.querySelector('input[name="payout_type"]:checked').value,
                },
                type: "POST",
                dataType: "json",
                timeout: 15000,
                beforeSend: function () {
                    layer.load(1);
                },
                success: function (msg) {
                    var alertStr = (msg == 1) ? '提交成功' : msg;
                    $('#paymentList').append("<div>" + order_number + "====" + alertStr + "</div>");
                    cb();
                },
                complete: function () {
                    layer.closeAll("loading");
                }
            });
        }
        function batchshenheTo(id,order_number,cb){
            $.ajax({
                url: "/manage/bank/txshenhe",
                data: {
                    id: id,
                    order_number:order_number,
                    state: 1,
                    //type: document.querySelector('input[name="payout_type"]:checked').value,
                },
                type: "POST",
                dataType: "json",
                timeout: 15000,
                beforeSend: function () {
                    layer.load(1);
                },
                success: function (msg) {
                    var alertStr = (msg == 1) ? '提交成功' : msg;
                    $('#paymentList').append("<div>" + order_number + "====" + alertStr + "</div>");
                    cb();
                },
                complete: function () {
                    layer.closeAll("loading");
                }
            });
        }
        function batchPaymentTo(id,order_number,cb) {
            $.ajax({
                url: "/manage/bank/withdrawalsPayment",
                data: {
                    id: id,
                    type: document.querySelector('input[name="payout_type"]:checked').value,
                },
                type: "POST",
                dataType: "json",
                timeout: 15000,
                beforeSend: function () {
                    layer.load(1);
                },
                success: function (msg) {
                    var alertStr = (msg == 1) ? '提交成功' : msg;
                    $('#paymentList').append("<div>" + order_number + "====" + alertStr + "</div>");
                    cb();
                },
                complete: function () {
                    layer.closeAll("loading");
                }
            });
        }
        //监听排序事件
        table.on('sort(present_record)', function(obj){ //注：sort 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，从而实现服务端排序，如：
            table.reload('present_record', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。
                ,where: { //请求参数（注意：这里面的参数可任意定义，并非下面固定的格式）
                    sortField: obj.field //排序字段
                    ,sortType: obj.type //排序方式
                }
            });
        });
        active = {
            search: function(){
                //执行重载
                table.reload('present_record', {
                    page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        search_t: $("select[name='search_t'] option:selected").val()
                        ,search_c: $("input[name='search_c']").val()
                        ,state: $("select[name='state'] option:selected").val()
                        ,datetime_range: $("input[name='datetime_range']").val()
                        ,user_type:$('select[name=user_type] option:selected').val()
                        ,daili:$('select[name=daili] option:selected').val()
                    }
                    ,done: function(res, curr, count){
                        for (var i = 0; i < res.data.length; i++) {
                            if (res.data[i].statusStr == '处理中' || res.data[i].statusStr == '审核中' || res.data[i].statusStr == 'Reviewing') {
                                $("#myaudio")[0].play();
                                return false;
                            }
                        }
                    }
                }, 'data');
            },
            payment:function (){

            }
        };
        $('.search .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
<script src="/resource/js/manage/media.js"></script>
</body>
</html>
