<include file="Mobile:header" nav="个人中心"/>
<div class="mobile">
    <div class="my_total">
        <div class="user">
            <span>我的账户：{$user.phone}</span>
            <span>用户等级：{:getUserMember($user['member'])}</span>
        </div>
        <p class="bal">{$user.money}</p>
        <p class="bal_tit">账户余额（元）帐户积分（{$user.jifen}）</p>  
<if condition="$user.dongjiemoney neq ''">
					
				<p class="bal">{$user.dongjiemoney}</p>
        <p class="bal_tit">冻结余额（元）</p>
					<else /> 
			
					</if>		
		
        <div class="wait">
            <div class="item">
                <span class="span_num">{:getUserUnIncome($uid)}</span>
                <span class="span_tit">待收利息（元）</span>
            </div>
            <div class="item">
                <span class="span_num">{:getUserUnPrincipal($uid)}</span>
                <span class="span_tit">待收本金（元）</span>
            </div>
        </div>
    </div>
    <div class="user_btn" >
        <a href="{:U('recharge')}"  style = "    color: #ffffff;background: #3582b3;">充值</a>
        <a href="{:U('cash')}"  style = "    color: #ffffff;background: #3582b3;">提现</a>
    </div>
    <ul class="user_list">
        <!--li><a href="{:getInfo('service')}"><img src="/Public/mobile/img/notice.png">在线客服</a></li-->
        <li><a href="{:U('zhannei')}"><img src="/Public/mobile/img/notice.png">站内消息</a></li>
		<!--<li><a href="/gs/my_order.html?state=1"><img src="__PUBLIC__/mobile/img/user_fund.png">我的订单</a></li>-->
        <li><a href="javascript:;" onclick="qiandao()"><img src="__PUBLIC__/mobile/img/nav4.png">每日签到</a></li>
        <li><a href="{:U('fund')}"><img src="__PUBLIC__/mobile/img/user_fund.png">资金明细</a></li>
        <li><a href="{:U('invest')}"><img src="__PUBLIC__/mobile/img/user_invest.png">投资记录</a></li>
        <li><a href="{:U('interest')}"><img src="__PUBLIC__/mobile/img/user_inter.png">收益记录</a></li>
        <li><a href="{:U('tuiguang')}"><img src="__PUBLIC__/mobile/img/user_inter.png">推广记录</a></li>
        <li><a href="{:U('recharge_record')}"><img src="__PUBLIC__/mobile/img/user_rech.png">充值记录</a></li>
        <li><a href="{:U('cash_record')}"><img src="__PUBLIC__/mobile/img/user_cash.png">提现记录</a></li>
        <!--li><a href="/lottery/index.html"><img src="__PUBLIC__/mobile/img/user_cash.png">大转盘</a></li-->
    </ul>
    <ul class="user_list">
        <li><a href="{:U('set_account')}"><img src="__PUBLIC__/mobile/img/user_safe.png">账户安全</a></li>
        <li><a href="{:U('add_card')}"><img src="__PUBLIC__/mobile/img/user_card.png">银行卡绑定</a></li>
        <li><a href="{:U('certification')}"><img src="__PUBLIC__/mobile/img/user_cert.png">实名认证</a></li>
        <!--li><a href="javascript:alert('登陆成功')"><img src="__PUBLIC__/mobile/img/user_cert.png">微信登陆</a></li-->
    </ul>
    <ul class="user_list">
        <li><a href="{:U('recommend')}"><img src="__PUBLIC__/mobile/img/user_invite.png">邀请好友</a></li>
        <a href="{:U('logout')}" class="input_btn">安全退出</a>	
    </ul>
    <a href="{:U('logout')}" class="input_btn"></a>	

    <include file="Mobile:footer" menu="user"/>
</div>
</body>
</html>